[submodule "DBASManager"]
	path = Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/DBASManager
	url = ../../../iliasaddons/DBASManager.git
	branch = Release_7.0
[submodule "LearnerGuidance"]
	path = Customizing/global/plugins/Services/UIComponent/UserInterfaceHook/LearnerGuidance
	url = ../../../iliasaddons/LearnerGuidance.git
	branch = Release_7.0
[submodule "CountryLicenseTypes"]
	path = Customizing/global/plugins/Services/Cron/CronHook/CountryLicenseTypes
	url = ../plugins/CountryLicenseTypes.git
	branch = r6
[submodule "LPOverview"]
	path = Customizing/global/plugins/Services/COPage/PageComponent/LPOverview
	url = ../../../iliasplugins/LPOverview.git
	branch = r6


